body {
    background-color: #051336;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#manutencao img {
    margin: auto;
    display: block;
    width: 70%;
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.container {
    background-color: #000c18;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.mini {
    font-size: 0.65em;
}

/* nav {
    background-color: #051336;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: auto;
}
  
ul li {
    display: inline;
    margin-right: 10px;
}
  
ul li a {
    color: #ddbb88;
    text-decoration: none;
    padding: 10px;
}
  
ul li a:hover {
    background-color: #184181;
    color: #22aa44;
} */

/* jj */
/* Estilos para o menu dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    background-color: #000c18;
    padding: 10px 0px;
    justify-content: space-between;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #051336;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para os links do menu dropdown */
.dropdown-content a {
    color: #22aa44;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    margin-top: 5px;
}

.dropdown-content a:hover {
    color: #ddbb88;
}
  
  .dropdown-content a:hover {
    background-color: #6688a9;
}

/* Estilos para os links principais do menu */
nav ul li a {
    text-decoration: none;
    color: #ddbb88;
    background-color: #051336;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #051336;
    color: #22aa44;
} 

/* Pagina atual */
nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estilos para o menu horizontal */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 10px;
}
/* jj */

.indice {
    /* background-color: aliceblue; */
    border: 2px solid #f280d0; /* Adicione uma borda sólida */
    border-radius: 10px; /* Defina o raio do arredondamento */
    padding: 10px; /* Adicione preenchimento interno para espaçamento */
    /* background-color: #f0f0f0; Defina a cor de fundo, se desejar */
    color: aliceblue;
    font-size: 14px;
    line-height: 135%;
}

.indice a {
    color: aliceblue;
}

.indice a:hover {
    text-decoration: underline;
    color: #f280d0;
}

.indice h2 {
    color: #f280d0;
}

h1 {
    color: #22aa44;
}

h2, h4 {
    color: #184181;
}

h3 {
    color: #22aa44;
}

p {
    color: #6688a9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #f280d0;
}

u {
    color: #ddbb88;
}

footer {
    background-color: #6688a9;
    /* color: #fff; */
    padding: 10px;
    text-align: center;
}

footer p {
    color: #000c18;
}